/*-----------------------------ESERVICES Stylesheet----------------------------*/
html{
	box-sizing: border-box;
	font-family: Raleway;
}
/* A.Z: SideNav stype */

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

@media only screen and (min-width: 993px){}
	.container {
	    width: 80%;
	}
}

hr{
	border:1px solid #d81b60;
}

table tr{
	line-height:5px;
}

/********************************
* Main content - Tables container
**********************************/
.container{
	margin-top:30px;
	padding: 10px;
	box-shadow: 0px 0px 3px #aaa;
}

.tabs-container{
	margin-bottom:30px; 
}

.tabs .tab  a {
	color:#4A148C;
	font-weight: 600;
}

.tabs .tab  a:hover {
	color:#BA68C8;
}

.tabs .indicator{
	background-color: #AA00FF;
}

/********************************
* Main content - Compétance
**********************************/

.card-image img{
	height:200px;

}

/********************************
* Contact INFO
**********************************/

.contact-image{
	width:200px;
}

i{
	display: inline;
	vertical-align: middle;
}
.start-image img{
	position:relative;
	width: 100%;
}

#back-home{
	background-image: url('../images/map.jpg');
	background-repeat: no-repeat;
	background-size: 90%;
	background-position: center;

}