/*-----------------------------ESERVICES Stylesheet----------------------------*/
html{
	box-sizing: border-box;
}
/* A.Z: SideNav stype */

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

hr{
	border:1px solid #d81b60;
}

table tr{
	line-height:5px;
}

/*******************************
*Cobham Logo
******************************/
.cobham-logo{
	width:100%;
}

/*******************************
*Authentication box
*******************************/
.auth-box{
	margin: 100px auto;
	padding: 40px 70px 70px 70px;
	width: 500px;
	border:1px solid #bbb;
	box-shadow: 0px 0px 1px black;
}

.background-line {
  display: table;
  white-space: nowrap; }

.background-line:before, .background-line:after {
	border-top: 1px solid silver;
	content: '';
	display: table-cell;
	position: relative;
	top: 0.8em;
	width: 50%; 
}

.background-line > span{
	margin: 5px;
}


/********************************
* Main content - Tables container
**********************************/
.container{
	margin-top:30px;
	padding: 10px;
	box-shadow: 0px 0px 3px #aaa;
}

/**********************************
* Details page style
*********************************/
.details-content{
	box-shadow: 0px 0px 1px #aaa;
	padding: 10px;
	margin-top:20px;
}

.details-content table input{
	border-top:1px solid #eee;
	border-right:1px solid #eee;
	border-left:1px solid #eee;
	height: 30px;
	padding: 1px 5px;
	margin: 0px;
	font-size:0.8em;
	box-sizing: border-box;
}

.details-content .collapsible-body{
	padding: 0px 10px;
}

.menu-button {
	padding-left: 2px; 
	padding-right: 1px; 
	margin-bottom:0px; 
}

.menu-button a{
	box-sizing: border-box;
	margin: 0px;
	border-radius:0px;
}

.input-detail{
	padding: 10px;
	text-align: center;
}

.input-detail  input, .input-detail  textarea{
	border-top:1px solid #eee;
	border-right:1px solid #eee;
	border-left:1px solid #eee;
	padding: 1px 5px;
	margin: 0px;
	font-size:1em;
	box-sizing: border-box;
}

